linuxcnc.var
linuxcnc.var.bak
groot.ini.expanded
python/probe_screen.pyc
python/remap.pyc
python/stdglue.pyc
.vscode
.vscode/settings.json
probe-results_x_200-5.csv
probe-results_x_200-10.csv
probe-results_x_200-15.csv
probe-results_x_200-20.csv
probe-results_x_200-25.csv
probe-results_x_300-5.csv
probe-results_x_300-10.csv
probe-results_x_300-15.csv
probe-results_x_300-20.csv
probe-results_x_300-25.csv
probe-results_y_300-5.csv
probe-results_y_300-10.csv
probe-results_y_300-15.csv
probe-results_y_300-20.csv
probe-results_y_300-25.csv
probe-results_z_200-5.csv
probe-results_z_200-10.csv
probe-results_z_200-15.csv
probe-results_z_200-20.csv
probe-results_z_200-25.csv
probe-results_z_300-5.csv
probe-results_z_300-10.csv
probe-results_z_300-15.csv
probe-results_z_300-20.csv
probe-results_z_300-25.csv
